* {
	font-family: 'Roboto Slab', serif;
}

body {
	background-color: #eeeeee;
}

.navBar a {
	color: #A8D0E6;
}

.navBar a:hover {
	color: #def2f1;
}

.navbar {
	text-align: center;
	background-color: #374785
}

.nav-item a {
	text-align: center;
}

.navbar-brand {
	font-family: "Staatliches", cursive;
	position: sticky;
	font-size: 2em;
	padding: 0;
	margin: 0;
}

.dropdown-menu {
	margin-top: 0.5em;
}

.form-required {
	display: none;
}

.dropdownUsername {
	padding: 0 1em;
}

.dropdownUsername:hover {
	background-color: #fff;
}

.dropdownUsername p {
	font-weight: 300;
}

.dropdown-item {
	font-weight: 400;
}