.section {
  margin: 1em 0;
  background-color: #f8f8f8;
  border: 1px #eee solid;
}

.middlePanel {
  margin: 0;
  padding: 0;
}

.section a {
  background-color: #f8f8f8;
}

.section hr {
  border-top: 2px #eee solid;
}

.postButtonSection {
  text-align: center;
  margin: 1em 0;
}